
/* app background color */

#App {
    background-color: #3c3c3c;
    background-size: 10px 10px;
    background-image:
        linear-gradient(to right, #282828 1px, transparent 1px),
        linear-gradient(to bottom, #282828 1px, transparent 1px);
}

/* header navbar display */

#header {
    width: 100%;
    background-color: #b4b4b4;
}

#header-text {
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
}

#login-logout-button {
    margin-left: auto;
}