
/* app background color */

#App {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #3c3c3c;
    background-size: 10px 10px;
    background-image:
        linear-gradient(to right, #282828 1px, transparent 1px),
        linear-gradient(to bottom, #282828 1px, transparent 1px);
}

/* hashrouter links */

a {
    color: white;
}
a.hover {
    color: white;
}

/* header navbar display */

#header {
    width: 100%;
}

#header-text {
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
    color: white;
    text-decoration: underline;
    text-underline-offset: 10px;
}

#login-logout-button {
    margin-left: auto;
}

/* main content area display */

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-top: 2.5%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: #282828 2px solid;
    text-align: center;
    padding: 50px;
}

/* auth page display */

.auth-inputs {
    margin-bottom: 10px;
    height: 25px;
}

/* user decks display */

.user-decks-inputs {
    margin: 2px;
}

#deck-name {
    margin-right: 10%;
}

#deck-options-bar {
    display: flex;
    align-items: center;
    margin-top: 25px;
    padding-left: auto;
}

.deck-options {
    all: unset;
    display: flex;
    color: black;
    text-decoration: none;
    border: none;
    font-weight: 600;
}

.decks-scroll-container {
    margin-top: 20px;
    width: 100%;

    max-height: 400px;

    overflow-y: auto;
    padding-right: 8px;
    box-sizing: border-box;
}

/* card list and mapped cards */

.mapped-cards {
    display: flex;
    align-items: flex-start;
    padding: 0.4rem 0;
    border-bottom: 1px solid #eee;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.mapped-cards-content {
    flex: 1 1 45%;
    max-width: 45%;
    margin: 0;
    padding-right: 0.75rem;
    word-break: break-word;
    word-break: break-word;
    padding-right: 0.75rem;
    margin: 0;
}

.mapped-cards-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-left: -15px;
}

.mapped-cards-section {
    max-height: 350px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: white;
    padding: 0 1rem 0.5rem;
    box-sizing: border-box;
    width: 130%;
    transform: translateX(-15%);
}

.mapped-cards-headers {
    font-weight: bold;
    position: sticky;
    top: 0;
    background: white;
    z-index: 2;
    border-bottom: 1px solid #ccc;
}

.mapped-cards,
.mapped-cards-headers {
    display: grid;
    grid-template-columns: 45% 45% auto;
    align-items: center;
    padding: 0.4rem 0;
}

.mapped-cards-headers h5 {
    display: flex;
    margin: 0;
    margin-left: 15px;
}

