
/* app background color */

#App {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #3c3c3c;
    background-size: 10px 10px;
    background-image:
        linear-gradient(to right, #282828 1px, transparent 1px),
        linear-gradient(to bottom, #282828 1px, transparent 1px);
}

/* hashrouter links */

a {
    color: white;
}
a.hover {
    color: white;
}

/* header navbar display */

#header {
    width: 100%;
}

#header-text {
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
    color: white;
    text-decoration: underline;
    text-underline-offset: 10px;
}

#login-logout-button {
    margin-left: auto;
}

/* main content area display */

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-top: 2.5%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: #282828 2px solid;
    text-align: center;
    padding: 50px;
}

/* auth page display */

.auth-inputs {
    margin-bottom: 10px;
    height: 25px;
}